{% extends "Base.html" %}
{% block title %}Home{% endblock %}

{% block Content %}
<div class="p-3 mb-2 bg-info-subtle text-emphasis-info">
    <img src=static/Pride_and_Joy.jpg class="rounded-circle" alt="Pride and Joy" width="200" height="200">

    <p>
        <h1>
            <strong>
                Jose Rosas Jr
            </strong>
        </h1>

    <p>
        Location: <a href="https://www.google.com/maps/place/La+Grulla,+TX/@26.2702874,-98.6506158,15z/data=!3m1!4b1!4m6!3m5!1s0x866450af83237f77:0x3ccaa630475f4da4!8m2!3d26.2695148!4d-98.6472456!16zL20vMDEwOTBx">La Grulla, Tx</a>
    </p>
    <p>
        <h5>
            Description
        </h5>
        <p>This is My Home Page</p>
        <p>There is a link above to my home town</p>
        <p>Also if you'd want to know more about me click on the About Me button on the top left</p>
        
    </p>
</div>


{% endblock %}